<!--Usamos de bootstrap
card para hacer una tarjeta de presentacion
-->
<div class="card">
  <h1 class="text-center" class="display-6">Sobre nosotros</h1>
  <p>Soy un desarrollador junior que esta incursionando en el mundo del desarrollo Web. Esta aplicacion se hizo gracias
    al curso brindado por comunidad IT.
  </p>
  <a href="http://www.comunidadit.org/" class="btn btn-primary btn-lg" target="_blank">ComIT</a>
</div>