<!--Usamos de bootstrap
jumbotrom: para el cuadrado margin top 4
display: para mostrar un titulo mas grande
lead: para que el texto se vea lindo
my para el separador
btn para que sea un boton
btn-primary de color azul
btn-lg aumentar el tamaño del boton

-->
<div class="jumbotron mt-4">
  <h1 class="text-center" class="display-4">Reserva la cancha</h1>
  <p class="text-center">La manera mas rapida de reservar tu cancha y dominar el esferico</p>
  <hr class="my-4">
  <p class="text-center">Busca la cancha que te quede mas cerca! podes reservarla YA!. </p>
  <p class="text-center">Sos muy pro? utiliza nuestros filtros de busqueda para elegir el suelo que mas se adapte a vos.</p>
  <p class="text-center">Te gusta el asado? Busca en nuestra lista las canchas con PARRILLA!!! mientras convertis goles se encienden las brasas!</p>

</div>