<!--Usamos de bootstrap
jumbotrom: para el cuadrado margin top 4
display: para mostrar un titulo mas grande
lead: para que el texto se vea lindo
my para el separador
btn para que sea un boton
btn-primary de color azul
btn-lg aumentar el tamaño del boton

-->
<div class="jumbotron mt-4">
  <h1 class="display-4">Reserva la cancha</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis distinctio consequuntur deleniti
    rerum veniam eveniet, vitae in quasi iusto.
  </p>
  <a href="http://www.comunidadit.org/" class="btn btn-primary btn-lg">ComIT</a>

</div>