<div>
  <div class="icon-container">
    <img src="../img/football.svg" class="icon" />
    <br />
    <h1>ReservaLaCancha</h1>
    <a href="/canchas/nuevaReserva" class="btn btn-success btn-block">Reservar cancha</a>
  </div>

  <div class="contenedor-filtros">
    <div class="flex-filtros">
      <select id="filtro-barrio"> </select>
      <select id="filtro-suelo"> </select>
      <select id="filtro-horario"> </select>
      <select id="filtro-parri"> </select>
      <button class="buscar">Buscar</button>
    </div>
  </div>

  <div class="contenedor-canchas">
    <div class="flex"></div>
  </div>

  <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="../js/cancha.js"></script>
  <script type="text/javascript" src="../js/listadoCanchas.js"></script>
  <script type="text/javascript" src="../js/aplicacionCanchas.js"></script>
</div>