{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}

<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Nueva Reserva</h3>
    </div>
    <div class="card-body">
      <form action="/canchas/nuevaReserva" method="POST">
        <div class="form group">
          <input type="text" name="nombreCliente" class="form-control" placeholder="Nombre" autofocus>
        </div>
        <br>
        <div class="form group">
          <input type="text" name="telefonoCliente" class="form-control" placeholder="Telefono" autofocus>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1"></label>
          <select class="form-control" name="nombreCancha" placeholder="Cancha" name="Tu nombre">
            <option selected disabled>Cancha</option>
            <option>La Bombonera</option>
            <option>Camp Nou</option>
            <option>Wembley</option>
            <option>Estadio Azteca</option>
            <option>San Siro</option>
            <option>Maracaná</option>
            <option>Signal Iduna Park</option>
            <option>Santiago Bernabéu</option>
            <option>Old Trafford</option>
            <option>Allianz Arena</option>
            <option>Celtic Park</option>
            <option>Estadio Da Luz</option>
            <option>Amsterdam Arena</option>
            <option>Stade Velodrome</option>
            <option>Azadi Stadium</option>
          </select>
        </div>
        <div class="form group">
          <input class="form-control" type="date" name="fecha">
          <br>
          <input class="form-control" type="time" name="hora">
        </div>
        <br>
        <div class="form-group">
          <textarea name="comentario" class="form-control" placeholder="Comentario"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Reservar</button>
        </div>
      </form>
    </div>
  </div>
</div>